/* #FE2144 red */
body {
  position: relative;
   margin: 0;
  padding: 0;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#content {
	background-color:#E1EFE6;
	width:100%;
	height:100%;
}

#controlp {
	float:left;
	height:100%;
	width:300px;
	background-color:#FE2144;
	z-index:2;
	overflow-x:hidden;
	position: absolute;
	text-align:center;
	transition: 0.5s; 
}

#ctitle {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:40px;
	color:white;
}

#csubtitlel {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:30px;
	float:left;
	padding-left:20px;
	margin-top:90px;
	color:white;
}

#csubtitler {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:30px;
	float:left;
	padding-left:20px;
	margin-top:90px;
	color:white;
}

#csubtitleo {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:30px;
	float:left;
	padding-left:20px;
	margin-top:140px;
	color:white;
}

ul {
	float:left;
	margin-left:-20px;
	margin-top:150px;
	position:absolute;
	
}

#temp {
	float:left;
	margin-left:-20px;
	margin-top:310px;
	position:absolute;
	
}

li {
	list-style-type: none;
	display:inline;
}

#degr {
	margin:5px;
	float:left;
	display:inline;
	position:relative;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:35px;
	color:white;
	background-color:#FE2144;
	padding:5px 10px;
}

.button {
	margin:5px;
	display:inline;
	position:relative;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:25px;
	color:white;
	background-color:#FE2144;
	padding:5px 10px;
	-webkit-transition: color 0.1s, background-color 0.1s; /* Safari */
    transition: color 0.1s, background-color 0.1s;
}

.button:hover {
	color:#FE2144;
	background-color:white;
	cursor: hand;
}

#onoff {
	float:left;
	margin-left:-20px;
	margin-top:520px;
	position:absolute;
}

#fridge {
	width:auto;
	height:700px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index:1;
}

#arrow1 {
	position:absolute;
	width:auto;
	height:60px;
	z-index:3;
	bottom:20px;
	left:20px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	transition: 0.2s;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 30px;
}

#arrow1:hover {
	cursor: hand;
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#photodivmobile {
	display:none;
}

@media screen and (max-width: 1370px) {
	body {
    zoom: 0.75; /* Other non-webkit browsers */
    zoom: 75%; /* Webkit browsers */
}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{ 
#content {
	background-color:#DBFEDE;
}

#controlp {
	float:none;
	height:800px; 
	width:100%;
}

#ctitle {
	padding-top:40px;
	font-size:90px;
}

#fridge {
	width:100%;
	height:auto;
	position: relative;
	bottom:0%;
    left: 0%;
    transform:none;
	z-index:1;
}

#photodivmobile {
	display:block;
	width:100%;
	height:300px;
	background-color:#B0D2B7;
	bottom:0%;
	position: absolute;
	
}

#csubtitlel {
	font-size:65px;
	float:left;
	padding-left:70px;
	margin-top:20px;
}
#csubtitler {
	font-size:65px;
	float:right;
	padding-right:70px;
	margin-top:20px;
}

#csubtitleo {
	font-size:65px;
	float:left;
	padding-left:70px;
	margin-top:200px;
	color:white;
}

ul {
	margin-left:10px;
}

.button {
	margin:20px;
	font-size:85px;
	padding:10px 15px;
}

#temp {
	position:relative;
	float:right;
	margin-right:-500px;
	margin-top:150px;
	
}

#degr {
	margin:20px;
	font-size:85px;
	padding:10px 15px;
}

#onoff {
	float:left;
	margin:20px;
	margin-top:470px;
	position:absolute;
}

#arrow1 {
display:none;
}
}



